<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posicionando con Flexbox</title>
    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/logo-mercado-liebre.svg" class="logo" alt="logo mercado liebre">
            <a href="#" class="hamburger-button">
                <i class="fa-solid fa-bars"></i>
            </a>
            <form action="/buscar" method="get" class="barra-busqueda">
                <input type="text" id="buscar" name="q" placeholder="Buscar productos, marcas y mas" required>
                <button type="submit">Buscar</button>
            </form>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
        </div>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">vender</a></li>
                <li><a href="#">ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Crea tu Cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i> </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/img/img-home-banner.jpg" alt="home banner" class="img-home-banner">
        <section id="ultima-visita">
            <h2 class="titulo-destacado">Basado en tu última visita</h2>
            <div class="producto">
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="imagen-producto">
                <p class="precio-articulo">$6.770</p>
                <p class="descuento-articulo">40% OFF</p>
                <p class="nombre-articulo">Cafetera Moulinex</p>
            </div>
            <div class="producto">
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="imagen-producto">
                <p class="precio-articulo">$230.000</p>
                <p class="descuento-articulo">20% off</p>
                <p class="nombre-articulo">MacBook Pro 2019</p>
            </div>
            <div class="producto">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="imagen-producto">
                <p class="precio-articulo">$70.500</p>
                <p class="descuento-articulo">10% off</p>
                <p class="nombre-articulo">Samsung Galaxy S10</p>
            </div>
            <div class="producto">
                <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="imagen-producto">
                <p class="precio-articulo">$230.200</p>
                <p class="descuento-articulo">2% off</p>
                <p class="precio-articulo">SmartTv Samsung 43</p>
            </div>
        </section>
    </main>
    <footer>
        <section id="Paga con Tarjeta">
            <div class="icono" style="width: 100%;"><i class="fas fa-credit-card fa-5x"></i></div>
            <h3>Paga con Tarjeta ó con Efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section id="Envío gratis">
            <div class="icono" style="width: 100%;"><i class="fas fa-gift fa-5x"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section id="seguridad">
            <div class="icono" style="width: 100%;"><i class="fas fa-solid fa-user-shield fa-5x"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section id="Copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>

    </footer>

</body>

</html>