*{
    box-sizing: border-box;
    margin: 0;
}
/* Estilo para el header */
header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Estilo para la barra de navegación */
  #navbar {
    background-color: #03264C;
    color: #fff; /* Texto en color blanco */
    font-size: 24px; /* Tamaño de fuente para titulares */
  }
  
  /* Estilo para el login bar */
  #compra {
    background-color: #1259c3;
    color: #fff; /* Texto en color blanco */
    font-size: 12px;
    text-align: center; /* Tamaño de fuente para cuerpos de texto */
  }
  
  /* Estilo para el search bar */
  #search-bar {
    background-color: #ebebeb;
    font-size: 12px; /* Tamaño de fuente para cuerpos de texto */
  }
  
  /* Estilo para los íconos */
  .icon {
    font-size: 24px; /* Tamaño de fuente para íconos */
    color: #39b54a;
  }
  